body {
  background: #f5f5f5;
  font-family: "Microsoft Yahei", helvetica;
}
h1 {
  color: #E91E63;
  text-align: center;
}
div {
  margin: 1em auto;
}
div#archives {
  width: 80%;
  text-align: center;
}
div.content {
  margin: 1em auto 0 auto;
}
div[v-show] {
  display: none;
}
div.more {
  height: 20px;
  color: #558b2f;
  font-size: 1.5em;
}
p {
  margin: 0.5em auto;
}
.post-it-note {
  text-align: left;
  width: 20%;
  padding: 0.5em 1em;
  background: #ffd707;
  position: relative;
  min-height: 6em;
  min-width: 10em;
  display: inline-block;
  margin: 1.5em 1em;
  vertical-align: top;
}
.post-it-note:after {
  content: "";
  position: absolute;
  bottom: -2em;
  left: 0;
  right: 2em;
  border-width: 1em;
  border-style: solid;
  border-color: #ffd707;
}
.post-it-note:before {
  content: "";
  position: absolute;
  bottom: -2em;
  right: 0;
  border-width: 2em 2em 0 0;
  border-style: solid;
  /*border-color: #d3b100 transparent;*/
  border-color: rgba(255, 215, 7, 0.4) transparent;
  z-index: -1;
}
.post-it-note .hash,
.post-it-note .time,
.post-it-note .disabled {
  pointer-events: none;
}
.post-it-note .content {
  height: 100%;
  display: block;
  overflow: hidden;
}
.post-it-note .hash {
  font-size: 0.8em;
  color: #333;
  position: absolute;
  right: 10px;
  top: -5px;
}
.post-it-note .time {
  font-size: 0.6em;
  color: #666;
  position: absolute;
  left: 10px;
  bottom: -35px;
  z-index: 1;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.fade-transition {
  animation: fade-in 0.5s;
}
.fade-leave {
  animation: fade-out 0.5s;
}
@media screen and (max-width: 769px) {
  div#archives {
    width: 90%;
  }
}
.blue {
  background-color: #9adcef;
}
.blue:after {
  border-color: #9adcef;
}
.blue:before {
  border-color: #58c5e5 transparent;
}
.pink {
  background-color: #f791bf;
}
.pink:after {
  border-color: #f791bf;
}
.pink:before {
  border-color: #f24a96 transparent;
}
.green {
  background-color: #d1ef6b;
}
.green:after {
  border-color: #d1ef6b;
}
.green:before {
  border-color: #bce826 transparent;
}
.orange {
  background-color: #fdb268;
}
.orange:after {
  border-color: #fdb268;
}
.orange:before {
  border-color: #fc8b1c transparent;
}
.yellow {
  background-color: #f5f770;
}
.yellow:after {
  border-color: #f5f770;
}
.yellow:before {
  border-color: #f0f328 transparent;
}
