<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <title>Add a Post</title>
    <link rel="stylesheet" href="/static/mblog/css/common.min.css">
</head>

<body>
    <div id="content_bg">
        <h1>New</h1>
        <form action="./new" method="post">
            <p><textarea name="content" rows="5" cols="20"></textarea></p>
            <input type="submit" value="提交"></input>
        </form>
    </div>
</body>
</html>
